<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Comparez vos prix</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content" id="container">
	<form action="#" th:action="@{/offers}" th:object="${offer}"
		method="post">
		<p>
			Entrez un code barre: <input type="text" th:field="*{ean}" />
		</p>
		<p>
			<input type="submit" value="Voir les offres" />	
			</p>
			<p><input type="reset"	value="Effacer" />
		</p>
	</form>
	</div>
	</body>
</html>